p.digg a {
	text-decoration: none;
	font-style: italic;
	color: #666;
	font-size:12px;
}

p.digg img {
border:0px; background:none;
}

p.digg a:hover {
	text-decoration: underline;
}


p.digg img {
	margin: 0px; border:0px;
}